target/
*~
#*
.#*
*#
*/src/main/java/META-INF/
*/src/main/webapp/META-INF/
*/src/main/*/WEB-INF/lib/
.classpath
.project
.DS_Store
.settings/
*.iml
*.iws
*.ipr
.idea/
.metadata/
Servers/
*.swp
*.swo
git.properties
